<header>
<h2>Potepan Shere</h2>
<a><%= link_to "ログイン", "/users/sign_up" %></a>
<a><%= link_to "新規登録", "/users/new" %></a>
</header>

<div class = toppage>
<p>　Potepan Shareで<br>まだ体験したことのない<br>
　　旅をしよう</p>
</div>

#検索バーと検索ボタンの実装

