<head>
    <title>【Rails実践課題②】宿泊予約アプリ</title>

    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-383835c5c8b4959039920c5f77ec953ce645f477e620ee27899339f853ec798a.ico">

    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="ssXI+8yFArf34LgT0qTH7ohHtKudTs9DmriX8YxD5HYrdNJEAJJ8GVSOFUH0izFzMM1ZK21WGK7BbFtUsxnBTA==">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" media="all" href="/packs/css/application-93b91c54.css" data-turbolinks-track="reload">
    <script src="/packs/js/application-c268bec7943e0cca1044.js"></script>

    <script>
      $(function(){
        $(".js-picker").bootstrapMaterialDatePicker({
          time: false,
          weekStart :0,
          switchOnClick: true,
          format: "YYYY/MM/DD",
          okText: "OK",
          clearText: "キャンセル"
        })
      })
    </script>
  </head>

  <body>
    <header>
  <nav class="navbar Navbar">
    <div class="container-fluid">
      <a href="/"><img class="Navbar__logo" alt="サイトロゴ" src="/assets/common/logo.png"></a>

        <ul class="navbar-nav flex-row align-items-center">
          <li class="nav-item NavItem">
            <a class="fw-bold NavItem__link NavItem__link--login" href="/users/sign_in">ログイン</a>
          </li>

          <li class="nav-item NavItem">
            <a class="btn fw-bold NavItem__link NavItem__link--register" href="/users/sign_up">新規登録</a>
          </li>
        </ul>
    </div>
  </nav>
</header>

    

    <div class="AccountFormWrapper">
  <section class="AccountFormContainer">
    <h2 class="AccountFormContainer__title">新規登録</h2>

    <form class="Form AccountForm" action="/users" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="ssXI+8yFArf34LgT0qTH7ohHtKudTs9DmriX8YxD5HYrdNJEAJJ8GVSOFUH0izFzMM1ZK21WGK7BbFtUsxnBTA==">
      <div class="mb-3">
        <label class="form-label Form__label--required" for="user_name">ユーザー名</label>
        <input class="form-control" placeholder="ユーザー名を入力" autocomplete="name" type="text" name="user[name]" id="user_name">

        
      </div>

      <div class="mb-3">
        <label class="form-label Form__label--required" for="user_email">メールアドレス</label>
        <input class="form-control" placeholder="メールアドレスを入力" autocomplete="email" type="email" value="" name="user[email]" id="user_email">

        
      </div>

      <div class="mb-3">
        <label class="form-label Form__label--required" for="user_password">パスワード</label>
        <input class="form-control" placeholder="パスワードを入力" type="password" name="user[password]" id="user_password">

        
      </div>

      <div class="mb-3">
        <label class="form-label Form__label--required" for="user_password_confirmation">確認用パスワード</label>
        <input class="form-control" placeholder="確認用パスワードを入力" type="password" name="user[password_confirmation]" id="user_password_confirmation">

        
      </div>

      <input type="submit" name="commit" value="新しいアカウントを作成" class="btn mb-3 AccountForm__button AccountForm__button--primary" data-disable-with="新しいアカウントを作成">
</form>
      <a class="btn AccountForm__button AccountForm__button--secondary" href="/users/sign_in">アカウントをお持ちの方はログイン</a>


  </section>
</div>

  
</body>